@model ThemeApplyPractice.Models.Issuance

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Detail Issuance</h6>
                <div class="row mb-2">
                    <div class="col-sm-3">
                        @Html.DisplayNameFor(model => model.IssueDate)
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.IssueDate)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ProductId)
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.ProductId)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-3">
                        @Html.DisplayNameFor(model => model.EmployeeId)
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.EmployeeId)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Qty)
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.Qty)
                    </div>
                </div>

                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Issuance_Id">Edit</a> |
                    <a asp-action="Display">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>


