@model IEnumerable<ThemeApplyPractice.Models.Issuance>

@{
    ViewData["Title"] = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-secondary rounded h-100">
    <h6>Issuance List</h6>
    <p>
        <a asp-action="Create" class="btn btn-primary rounded-pill m-2">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IssueDate)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Qty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeId)
                </th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IssueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Issuance_Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Issuance_Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Issuance_Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

